.bck-color {

   background-color: #ffffb3;
}

.blue-border { 
	border: solid 8px lightblue;
 }

 .space {
 	margin-top: 2rem;
 }

 .title-style {
 	
 	text-shadow: 0 2px 5px orange;

 	
 }

 div {
 	font-family: Helvetica;
 }

 a:hover {
 	color: skyblue;
 	text-decoration: none;
 }

 a:active {
 	color: #f47742;
 	text-decoration: none;
 }

